.menu{
	display: block;
	padding: 0;
	list-style: none;
	vertical-align: middle;
}


p{
	font-weight: normal;
	color:white;
	font-size: 16px;
	font-family:serif;
	text-align: center;
	padding: 0;

}

.menu_item{
	display: inline-block;
	background-color: #BA55D3;
	height: 40px;
	width: 129px;	
	margin-left: -4px;
	padding: 0;

}


.menu_item:hover{
	background-color: #EEE9E9;
	color: #8B8989;

}
