.*{
	box-sizing:border-box;
}

.menu{
	display: block;
	padding: 0;
	list-style: none;
	vertical-align: middle;
}	


a{
	color:white;
	font-size: 18px;
	font-family:Impact;
	text-align: center;
	padding: 0;
	text-decoration: none;
	padding:8px 45px 8px 45px;

}

.menu_item{
	display: inline-block;
	background-color: rgb(166,77,255);
	/*height: 40px;*/
		
	margin-left: -4px;
	padding: 10px;
	text-align:center;

}


.menu_item:hover{
	background-color: rgb(238,238,238);
	color: rgb(201,180,161);
	cursor: pointer;
}

.menu_item:hover a{
	color:#BEBEBE;
}
